<div class="container">

  <%= paginate @users %>
  
  <table>
    <tr>
      <th> First Name </th>
      <th> Last Name </th>
      <th> Email </th>
    </tr>
    <% @users.each do |user| %>
      <tr class="collapsible-header" id="<%= user.id %>">
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.email %></td>
      </tr>
      <% user.donations.each do |donation| %>
          <tr class="collapsible-body user-<%= user.id %>" > 
            <td>Amount: <%= donation.amount %></td>
            <td> Tax Receipt: <%= donation.tax_receipt_sent %></td>
            <td>
            <%= button_to 'Resend Tax Receipt', send_tax_receipt_donation_path(donation), method: :post, remote: true %>
            </td>
          </tr>
        <% end %>
    <% end %>      
  </table>
</div>