<!-- <div class="container">

  <%= paginate @users %>
  
  <table class="u-full-width">
    <tr>
      <th> First Name </th>
      <th> Last Name </th>
      <th> Email </th>
    </tr>
    <% @users.each do |user| %>
      <tr class="collapsible-header" id="<%= user.id %>">
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.email %></td>
        <td class="button" id ="mailing-address" style="width: 70%"> Mailing Address </td>
        <td class="button" id="donation-details" style="width: 70%"> Donation Details </td>
      </tr>
      <% user.donations.each do |donation| %>
          <tr class="xuser-<%= user.id %>"> 
            <td>Amount: <%= donation.amount %></td>
            <td> Tax Receipt: Yes</td>
            <td>
            <%= button_to 'Resend Tax Receipt', send_tax_receipt_donation_path(donation), method: :post, remote: true, :class => "resend", :style =>"margin: 0 auto"%>
            </td>
          </tr>
        <% end %>
        <% user.addresses.each do |address| %>
        <tr class="user-mailing-<%= user.id %>">
          <td><%= address.street %></td>
          <td><%= address.house %></td>
          <td><%= address.postal_code %></td>
          <td><%= address.city%></td>
          <td><%= address.province %></td>
        </tr>
        <% end %>
    <% end %>      
  </table>
</div> -->

<div class="container">
  
  <div class="u-full-width list">
  
    <% @users.each do |user| %>
      <div class="user" id="user-<%=user.id%>">
        <div class="titles row">
          <div class="fullname four columns"><h5>Name:</h5></div>
          <div class="email four columns"><h5>Email:</h5></div>
        </div>
        <div class="name row">
          <div class="fullname four columns">
            <%= user.first_name %> <%= user.last_name %>
          </div>
          <div class="email four columns">
            <%= user.email %>
          </div>
          <div class="buttons four columns">
          <button class="donation-button">Donations</button>
          <button class="address-button">Address</button>
          </div>
        </div>
        <div class="address">
          <% user.addresses.each do |address| %>
          <h5> Address </h5>
          <table class="u-full-width">
            <thead>
              <tr>
                <th>Street</th>
                <th>House</th>
                <th>Postal Code</th>
                <th>City</th>
                <th>Province</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><%= address.street %></td>
                <td><%= address.house %></td>
                <td><%= address.postal_code %></td>
                <td><%= address.city %></td>
                <td><%= address.province %></td>
              </tr>
            </tbody>
          </table>
        <% end %>
        </div>
        <div class="donations">
        <% user.donations.each do |donation| %>
          <h5> Donation </h5>
          <div class="user-<%= user.id %> row"> 
            <div class="four columns">            
              Amount: <%= donation.amount %>
            </div>
            <div class="four columns">
              Tax Receipt: Yes
            </div>
            <div class="four columns">
              <%= button_to 'Resend Tax Receipt', send_tax_receipt_donation_path(donation), method: :post, remote: true, :class => "resend", :style =>"margin: 0 auto"%>
            </div>
          </div>
        <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>