
<div class="Container header">
  <span class="back-button">
    <%= image_tag "back14.svg" %>
  </span>

  <a href="http://thelipstickproject.ca"><%= image_tag "TLP_2.png" %></a>
  <h1> Give Light + Love </h1>
  <h5> Support our volunteer teams </h5>
</div>
<div class="container first_form_view">
  <div class="row"> 
    <div class="offset-by-two two columns">
      <button class="donation-amount u-full-width" val="20.00">$20</button>
    </div>
    <div class="two columns">
      <button class="donation-amount u-full-width" val="50.00">$50</button>
    </div>
    <div class="two columns">
      <button class="donation-amount u-full-width" val="75.00">$75</button>
    </div>
    <div class="two columns">
      <button class="donation-amount u-full-width" val="100.00">$100</button>
    </div>
  </div>  
  <div class="row">
    <div class="offset-by-two eight columns after-donation">  
      <input type="text" class="donation-box u-full-width" id="donation-box" value="20.00">
    </div>
  </div>  
  <div class="row">
    <div class=" offset-by-two four columns">
      <button class="sub-initial-now u-full-width">Give Now</button>
    </div>
    <div class="four columns">
      <button class="sub-initial-monthly u-full-width">Give Monthly</button>
    </div>
  </div>
</div>


<!-- SECOND FORM VIEW -->
<div class="container second_form_view" style="display:none">
  <%= form_for :user, url: users_path, html: { id: "payment-form-two"} do |f| %>
    <div class="row">
      <div class="six columns">
        <p>
          <%= f.label :first_name %>
          <%= f.text_field :first_name, :class =>"u-full-width", :placeholder=>"First Name" %>
        </p>  
      </div>  
      <div class="six columns">
        <p>
          <%= f.label :last_name %>
          <%= f.text_field :last_name, :class =>"u-full-width" , :placeholder=>"Last Name"%>
        </p>
      </div>  
    </div>
    <div class="row">

      <p>
        <%= f.label :email %>
        <%= f.text_field :email, :class =>"u-full-width", :placeholder => "Email Address" %>
      </p>
    </div>
    <div class="row">
      <p>
        <%= f.label :phone_num, "Phone Number" %>
        <%= f.text_field :phone_num, :class =>"u-full-width", :placeholder => "Phone Number" %>
      </p>
    </div>

    <%= f.fields_for :addresses do |address_form| %>
      <div class="row">
        <div class="six columns">  
          <p>
            <%= address_form.label :street %>
            <%= address_form.text_field :street, :class =>"u-full-width", :placeholder=>"Street Name"%>
          </p>
        </div>
        <div class="six columns">  
          <p>
            <%= address_form.label :house %>
            <%= address_form.text_field :house, :class =>"u-full-width" , :placeholder=>"House or Apartment Number"%>
          </p>
        </div> 
      </div>
      <div class="row">
        <div class="four columns">
          <p>
            <%= address_form.label :city %>
            <%= address_form.text_field :city, :class =>"u-full-width" , :placeholder=>"City"%>
          </p>
        </div>
        <div class="four columns">
          <p>
            <%= address_form.label :province %>
            <%= address_form.text_field :province, :class =>"u-full-width" , :placeholder=>"Province"%>
          </p>
        </div>
        <div class="four columns">  
          <p>
            <%= address_form.label :postal_code %>
            <%= address_form.text_field :postal_code , :class =>"u-full-width", :placeholder=>"Postal Code"%>
          </p>
        </div>  
      </div>
    <% end %>
    <%= f.fields_for :donations do |donation_form| %>
      <div class="row">
        <div class="twelve columns">
          <p>
            <%= donation_form.label :about, "Is there anything you would like to tell us about your donation?" %>
            <div class="about-text">
            <%= donation_form.text_area :about, :class => "about u-full-width"%>
            </div>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="twelve columns">
          <p>
            <%= donation_form.label :amount %>
            <div class="after-donation">
              <%= donation_form.text_field :amount , :class =>"final-amount u-full-width", :placeholder=>"Amount"%>
            </div>
          </p>
        </div>
      </div>
    <% end %>

    <span class="payment-errors"></span>
    <div class="row">
      <div class="four columns">
        <label class="u-full-width">
          <span>Card Number</span> 
        </label>      
        <input class="u-full-width" type="text" size="20" data-stripe="number"/>
      </div>
      <div class="six columns">
        <label>
          <span>CVC</span>
        </label>  
          <input type="text" size="4" data-stripe="cvc"/>
      </div>    
    </div>
    <div class="row">
      <label>
        <span> Expiration (MM/YYYY)</span>
      </label>
      <input type="text" size="2" data-stripe="exp-month"/>
      <span> / </span>
      <input type="text" size="4" data-stripe="exp-year"/>
    </div>
    <div class="row">
      <div class="one column">
        <p>
          <%= f.check_box :accepts_marketing,{}, "checked", "unchecked" %>
        </p>
      </div>
      <div class="eleven columns">
        <p>
          <%= f.label :accepts_marketing, "I would like to recieve emails and updates from the Lipstick Project" %>
        </p>
      </div>

    </div> 
      <button type="submit" class="payment-submit-button"> Give Now </button>
  <% end %>  
</div>
</div>

  <!-- THIRD FORM VIEW -->
<div class="container third_form_view" style="display:none">
  <%= form_for :user, url: users_path, html: { id: "payment-form-one"} do |f| %>
  <div class="row">
    <div class="six columns">
      <p>
        <%= f.label :first_name %>
        <%= f.text_field :first_name, :class =>"u-full-width", :placeholder=>"First Name" %>
      </p>  
    </div>  
    <div class="six columns">
      <p>
        <%= f.label :last_name %>
        <%= f.text_field :last_name, :class =>"u-full-width" , :placeholder=>"Last Name"%>
      </p>
    </div>  
  </div>
  <div class="row">
    <p>
      <%= f.label :email %>
      <%= f.text_field :email, :class =>"u-full-width", :placeholder => "Email Address" %>
      <%= f.hidden_field :recurring, :value => true%>
    </p>
  </div>

  <%= f.fields_for :addresses do |address_form| %>
    <div class="row">
      <div class="six columns">  
        <p>
          <%= address_form.label :street %>
          <%= address_form.text_field :street, :class =>"u-full-width", :placeholder=>"Street Name"%>
        </p>
      </div>
      <div class="six columns">  
        <p>
          <%= address_form.label :house %>
          <%= address_form.text_field :house, :class =>"u-full-width" , :placeholder=>"House or Apartment Number"%>
        </p>
      </div> 
    </div>
    <div class="row">
      <div class="four columns">
        <p>
          <%= address_form.label :city %>
          <%= address_form.text_field :city, :class =>"u-full-width" , :placeholder=>"City"%>
        </p>
      </div>
      <div class="four columns">
        <p>
          <%= address_form.label :province %>
          <%= address_form.text_field :province, :class =>"u-full-width" , :placeholder=>"Province"%>
        </p>
      </div>
      <div class="four columns">  
        <p>
          <%= address_form.label :postal_code %>
          <%= address_form.text_field :postal_code , :class =>"u-full-width", :placeholder=>"Postal Code"%>
        </p>
      </div>  
    </div>
  <% end %>
  <%= f.fields_for :recurring_donations do |donation_form| %>
    <div class="row">
      <div class="twelve columns">
        <p>
          <%= donation_form.label :about, "Is there anything you would like to tell us about your donation?" %>
          <div class="about-text">
          <%= donation_form.text_area :about, :class => "about u-full-width"%>
          </div>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="twelve columns">
        <p>
          <%= donation_form.label :amount %>
          <div class="after-donation">
          <%= donation_form.text_field :amount , :class =>"final-amount u-full-width", :placeholder=>"Amount"%>
          </div>
        </p>
      </div>
    </div>
  <% end %>

  <span class="payment-errors"></span>
  <div class="row">
    <div class="four columns">
      <label>
        <span>Card Number</span> 
      </label>      
        <input type="text" size="20.00" data-stripe="number"/>
    </div>
    <div class="six columns">
      <label>
        <span>CVC</span>
      </label>  
        <input type="text" size="4" data-stripe="cvc"/>
    </div>    
  </div>
  <div class="row">
    <label>
      <span> Expiration (MM/YYYY)</span>
    </label>
    <input type="text" size="2" data-stripe="exp-month"/>
    <span> / </span>
    <input type="text" size="4" data-stripe="exp-year"/>
  </div>
  <div class="row">
    <div class="one column">
      <p>
        <%= f.check_box :accepts_marketing,{}, "checked", "unchecked" %>
      </p>
    </div>
    <div class="eleven columns">
      <p>
        <%= f.label :accepts_marketing, "I would like to recieve emails and updates from the Lipstick Project" %>
      </p>

    </div>

  </div> 
    <button type="submit" class="payment-submit-button"> Give Now </button>

  <% end %>  
  </div>
    
</div>
<%= javascript_include_tag "https://js.stripe.com/v2/" %>
<script>
    var env = '<%= Rails.configuration.stripe[:publishable_key] %>'
    Stripe.setPublishableKey('<%= Rails.configuration.stripe[:publishable_key] %>');
 
</script>
